@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700&family=News+Cycle:wght@400;700&display=swap');

@font-face {
  font-family: 'Tamil MN';
  src: URL('TamilMN-Bold.ttf') format('truetype');
}

.post-page-title {
  grid-column: 2 / 16;
  margin: 0 0 2rem;
}

.post-page-title-text {
  font-family: Merriweather;
  font-size: 4.2rem;
  color: rgba(0,0,0,0);
  -webkit-text-fill-color: #FFE8D1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin: 0 0 1rem;
}
.post-page-byline {
  font-size: 1.4rem;
}

/* Text Primary template */

.text-post-blurb {
  grid-column: 9 / 15;
  grid-row: 2 / 4;
}

.textPostHeroImage {
  grid-column: 1 / 8;
  grid-row: 3 / 5;
  width: 100%;
}

.text-post-body {
  grid-column: 1 / 17;
  grid-row: 4 / 8;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
}

.text-post-body p {
  grid-column: 9 / 16;
}

.text-post-body .post-video-wrapper {
  grid-column: 2 / 16;
}

.text-post-body > iframe {
  grid-column: 4 / 14;
  width: 100%;
}

.text-post-body blockquote {
  grid-column: 3 / 7;
  grid-row: span 2;
}

.text-post-body .post-video-wrapper ~ p {
  grid-column: 2 / 9;
}

.text-post-body .post-video-wrapper ~ blockquote {
  grid-column: 12 / 16;
}

/* Video Primary template */

.post-youtube-video {
  grid-column: 2 / 16;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  
}
.post-youtube-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-post-blurb {
  grid-column: 2 / 9;
}

.video-post-body {
  grid-column: 1 / 17;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem; 
  font-family: News Cycle;
  font-size: 1.2rem;
}

.video-post-body p {
  grid-column: 2 / 9;
}

.video-post-body .post-video-wrapper {
  grid-column: 2 / 16;
}

.post-video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.post-video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-post-body blockquote {
  grid-column: 10 / 14;
  grid-row: span 2;
}

.video-post-body .post-video-wrapper ~ p {
  grid-column: 9 / 16;
}

.video-post-body .post-video-wrapper ~ blockquote {
  grid-column: 4 / 7;
}


/* Pull quotes */

blockquote p {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 1.4rem;
}

.post-quote-mini {
  grid-column: 13 / 15;
  font-weight: bold;
}

.post-quote-large {
  grid-column: 13 / 15;
}
.post-quote-large h3 {
  font-family: Merriweather;
  color: rgba(0,0,0,0);
  -webkit-text-fill-color: #FFE8D1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.post-quote-large h2 {
  font-family: "Tamil MN";
}

/* Post page recirc */

.post-page-recirc {
  grid-column: 2 / 16;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin: 4rem 0;
}

/* Responsive */

@media (max-width: 768px) {

  .post-page-title {
    margin: 0 0 1rem;
  }
  .post-page-title-text {
    font-size: 3.2rem;
  }
  .post-youtube-video {
    grid-column: 1 / 17;
  }

  .textPostHeroImage {
    grid-column: 1 / 17;
    grid-row: 2;
  }
  .text-post-blurb {
    grid-column: 2 / 16;
    grid-row: 3;
  }
  .text-post-body {
    grid-column: 1 / 17;
  }
  .text-post-body p,
  .text-post-body blockquote {
    grid-column: 2 / 16;
  }
  .text-post-body .post-video-wrapper {
    grid-column: 1 / 17;
  }
  .text-post-body .post-video-wrapper ~ p,
  .text-post-body .post-video-wrapper ~ blockquote {
    grid-column: 2 / 16;
  }

  .video-post-blurb {
    grid-column: 2 / 16;
  }
  .video-post-body {
    grid-column: 1 / 17;
  }
  .video-post-body p,
  .video-post-body blockquote {
    grid-column: 2 / 16;
  }
  .video-post-body .post-video-wrapper {
    grid-column: 1 / 17;
  }
  .video-post-body .post-video-wrapper ~ p,
  .video-post-body .post-video-wrapper ~ blockquote {
    grid-column: 2 / 16;
  }

}

@media (min-width: 600px) and (max-width: 1023px) {}

@media (min-width: 1024px){}

@media (min-width: 1024px) and (max-width: 1439px){}

@media (min-width: 1440px){}