@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700&family=News+Cycle:wght@400;700&family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'Tamil MN';
  src: URL('TamilMN-Bold.ttf') format('truetype');
}

.post-page-title {
  grid-column: 2 / 16;
  margin: 0 0 2rem;
}

.post-page-title-text {
  /* font-family: 'Tamil MN'; */
  font-size: 4.2rem;
  color: rgba(0,0,0,0);
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #FFE8D1;
  margin: 0 0 1rem;
}
.post-page-byline {
  font-size: 1.4rem;
}

/* Text Primary template */

.text-post-blurb {
  grid-column: 9 / 15;
  grid-row: 2 / 4;
}

.text-post-hero-image-wrapper {
  grid-column: 1 / 8;
  grid-row: 3 / 5;
}
.text-post-hero-image-wrapper .caption {
  margin: 0 1rem;
}
.text-post-hero-image {
  width: 100%;
}

.text-post-body {
  grid-column: 1 / 17;
  grid-row: 4 / 8;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
}

.text-post-body p,
.text-post-body h3 {
  grid-column: 9 / 16;
}

.text-post-body .post-video-wrapper,
.text-post-body .post-image-wrapper {
  grid-column: 4 / 14;
  margin: 1rem 0;
}
.text-post-body .post-image-wrapper {
  width: 100%;
}

.post-image-wrapper .post-image {
  width: 100%;
}
.caption {
  font-size: 0.9rem;
  opacity: 0.9;
}

.text-post-body > iframe {
  /* grid-column: 4 / 14; */
  width: 100%;
}

.text-post-body > .youtube-video  {
  grid-column: 4 / 14;
}

.text-post-body blockquote {
  grid-column: 3 / 8;
  grid-row: span 2;
  font-size: 1.2rem;
}


.text-post-body .post-image-wrapper:nth-of-type(even) ~ p {
  grid-column: 2 / 9;
}
.text-post-body .post-image-wrapper:nth-of-type(even) ~ blockquote {
  grid-column: 12 / 16;
}
.text-post-body .spotify-embed:last-of-type ~ p {
  grid-column: 9 / 16;
}
.text-post-body .spotify-embed:last-of-type ~ blockquote {
  grid-column: 3 / 8;
}

/* Spotify */

.spotify-embed {
  grid-column: 5 / 13;
}

/* Video Primary template */

.video-post-youtube-video {
  grid-column: 2 / 16;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.video-post-youtube-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.post-youtube-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-post-blurb {
  grid-column: 2 / 9;
}

.video-post-body {
  grid-column: 1 / 17;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem; 
  font-family: News Cycle;
  font-size: 1.2rem;
}

.video-post-body p {
  grid-column: 2 / 9;
}

.video-post-body .post-video-wrapper {
  grid-column: 2 / 16;
}

.post-video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.post-video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-post-body blockquote {
  grid-column: 10 / 14;
  grid-row: span 2;
}

.video-post-body .post-video-wrapper ~ p {
  grid-column: 9 / 16;
}

.video-post-body .post-video-wrapper ~ blockquote {
  grid-column: 4 / 7;
}


/* Pull quotes */

blockquote {
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 1.4rem;
}

/* Paul */

.dayo-paul-oluwakoya .video-post-blurb {
  display: none;
}

/* Ike */

.ike-wilson .text-post-blurb {}

.ike-wilson .text-post-hero-image-wrapper {}

.ike-wilson .text-post-body {
  grid-row: 3 / 8;
  margin-top: 8rem;
}

/* Maznah */

.maznah-shehzad .story-section {
  grid-column: 1 / 17;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  margin: 2rem 0 0;
}

.maznah-shehzad .story-section:nth-of-type(1) p {
  grid-column: 2 / 9;
}
.maznah-shehzad .story-section:nth-of-type(2) p {
  grid-column: 9 / 16;  
}
.maznah-shehzad .story-section:nth-of-type(3) p {
  grid-column: 2 / 9;
}
.maznah-shehzad .story-section:nth-of-type(1) h3,
.maznah-shehzad .story-section:nth-of-type(3) h3 {
  grid-column: 2 / 9;
  text-align: left;
}
.maznah-shehzad .story-section:nth-of-type(2) h3 {
  grid-column: 9 / 16;
  text-align: right;
}
/* .maznah-shehzad .story-section:nth-of-type(1) h3, 
.maznah-shehzad .story-section:nth-of-type(2) h3,
.maznah-shehzad .story-section:nth-of-type(3) h3 {
  grid-column: 2 / 16;
  text-align: center;
} */
.maznah-shehzad .story-section:nth-of-type(1) .post-youtube-video,
.maznah-shehzad .story-section:nth-of-type(2) .post-youtube-video,
.maznah-shehzad .story-section:nth-of-type(3) .post-youtube-video {
  grid-column: 2 / 16;
}

/* Responsive */

@media (max-width: 768px) {

  .post-page-title {
    margin: 0 0 1rem;
  }
  .post-page-title-text {
    font-size: 3.2rem;
  }
  .post-youtube-video {
    grid-column: 1 / 17;
  }

  .text-post-hero-image-wrapper {
    grid-column: 1 / 17;
    grid-row: 2;
  }
  .text-post-hero-image {
    width: 100%
  }
  .text-post-blurb {
    grid-column: 2 / 16;
    grid-row: 3;
  }
  .text-post-body {
    grid-column: 1 / 17;
  }
  .text-post-body .post-image-wrapper {
    grid-column: 2 / 16;
  }
  .spotify-embed {
    grid-column: 2 / 16;
  }
  .text-post-body p,
  .text-post-body blockquote {
    grid-column: 2 / 16;
  }
  .text-post-body .post-video-wrapper {
    grid-column: 1 / 17;
  }
  .text-post-body .post-video-wrapper ~ p,
  .text-post-body .post-video-wrapper ~ blockquote {
    grid-column: 2 / 16;
  }
  .text-post-body .post-image-wrapper:nth-of-type(even) ~ p,
  .text-post-body .post-image-wrapper:nth-of-type(even) ~ blockquote {
    grid-column: 2 / 16;
  }
  .text-post-body .spotify-embed:last-of-type ~ p,
  .text-post-body .spotify-embed:last-of-type ~ blockquote {
    grid-column: 2 / 16;
  }

  .video-post-youtube-video {
    grid-column: 1 / 17;
  }
  .video-post-blurb {
    grid-column: 2 / 16;
  }
  .video-post-body {
    grid-column: 1 / 17;
  }
  .video-post-body p,
  .video-post-body blockquote {
    grid-column: 2 / 16;
  }
  .video-post-body .post-video-wrapper {
    grid-column: 1 / 17;
  }
  .video-post-body .post-video-wrapper ~ p,
  .video-post-body .post-video-wrapper ~ blockquote {
    grid-column: 2 / 16;
  }

  /* Maznah */

  .maznah-shehzad .story-section:nth-of-type(1) p,
  .maznah-shehzad .story-section:nth-of-type(2) p,
  .maznah-shehzad .story-section:nth-of-type(3) p {
    grid-column: 2 / 16;
  }
  .maznah-shehzad .story-section:nth-of-type(1) h3, 
  .maznah-shehzad .story-section:nth-of-type(2) h3,
  .maznah-shehzad .story-section:nth-of-type(3) h3 {
    grid-column: 2 / 16;
    text-align: center;
  }
  .maznah-shehzad .story-section:nth-of-type(1) .post-youtube-video,
  .maznah-shehzad .story-section:nth-of-type(2) .post-youtube-video,
  .maznah-shehzad .story-section:nth-of-type(3) .post-youtube-video {
    grid-column: 1 / 17;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  /* .text-post-hero-image-wrapper {
    grid-column: 2 / 16;
  } */
}

@media (min-width: 1024px){}

@media (min-width: 1024px) and (max-width: 1439px){}

@media (min-width: 1440px){}