/* Category page hero */

.category-hero-image-wrapper {
  grid-column: 1 / 8;
  grid-row: 3 / 5;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}
.category-hero-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category-hero-mini-subhed {
  grid-column: 2 / 16;
  grid-row: 2;
  font-family: News Cycle;
  font-weight: 400;
  margin: -1rem 0 1rem;
}

.category-hero-links {
  grid-column: 9 / 14;
  grid-row: 3;
  font-family: News Cycle;
  font-weight: 400;
}
.category-hero-links-label {
  font-family: Merriweather;
}
.category-hero-links a h4 {
  text-decoration: underline;
  font-weight: 400;
}

.category-hero-large-subhed {
  grid-column: 9 / 14;
  grid-row: 4 / 6;
}

.category-hero-large-subhed h2 {
  font-size: 1.6rem;
}
/* Category page story promo*/

.category-promo {
  grid-column: 1 / 17;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  margin-bottom: 4rem;
}
.category-promo:hover .category-promo-title {
  /* text-decoration: underline; */
  color: #FFE8D1;
}

.category-promo-text.left {
  grid-column: 2 / 9;
}
.category-promo-text.right {
  grid-column: 9 / 16;
}
.category-promo-title {
  font-family: Merriweather;
  font-size: 2.8rem;
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFE8D1;
  font-weight: bold;
  margin-bottom: 1rem;
}
.category-promo:hover .category-promo-title {
  transition: color 0.2s;
}
.category-promo-byline {
  font-family: Merriweather;
}
.category-promo-blurb h3 {
  font-family: News Cycle;
  font-size: 1.2rem;
}

.category-promo-image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 75%;
}
.category-promo-image-wrapper.left {
  grid-column: 1 / 8;
}
.category-promo-image-wrapper.right {
  grid-column: 10 / 17;
}
.category-promo-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.category-recirc {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2rem;
  grid-column: 2 / 16;
  display: flex;
  justify-content: space-around;
  
  text-align: center;
  margin-top: 4rem;
}

.category-promo {
  margin-top: 4rem;
}

@media (max-width: 767px) {

  .category-hero-image-wrapper {
    grid-column: 1 / 17;
    grid-row: 2 / 4;
  }

  .category-hero-mini-subhed {
    grid-column: 2 / 16;
    grid-row: 7;
    display: none;
  }

  .category-hero-links {
    grid-column: 2 / 16;
    grid-row: 5;
    display: none;
  }

  .category-hero-large-subhed {
    grid-column: 2 / 16;
    grid-row: 4;
  }

  .category-promo {
    margin: 2rem 0;
  }

  .category-promo-text {
    mix-blend-mode: difference;
  }
  .category-promo-byline {
    display: none;
  }

  .category-promo-text.left,
  .category-promo-text.right {
    grid-column: 2 / 16;
    grid-row: 1 / 3;
    z-index: 1;
  }
  .category-promo-text.left {
    text-align: left;
  }
  .category-promo-text.right {
    text-align: right;
  }
  .category-promo-text .category-promo-title {
    font-family: Tamil MN;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
    color: rgb(255,232,209);
    mix-blend-mode: difference!important;
  }

  .category-promo-image-wrapper.left,
  .category-promo-image-wrapper.right {
    grid-row: 1 / 4;
  }

  .category-promo-image-wrapper.left {
    grid-column: 1 / 10;
  }
  .category-promo-image-wrapper.right {
    grid-column: 7 / 17;
  }

  .category-promo-blurb {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .category-hero-image-wrapper {
    grid-column: 1 / 17;
    grid-row: 2 / 4;
  }

  .category-hero-mini-subhed {
    grid-column: 2 / 16;
    grid-row: 7;
    display: none;
  }

  .category-hero-links {
    grid-column: 2 / 16;
    grid-row: 5;
    display: none;
  }

  .category-hero-large-subhed {
    grid-column: 2 / 16;
    grid-row: 4;
  }
}

@media (min-width: 1024px) and (max-width: 1339px) {
  .category-hero-image-wrapper {
    grid-column: 1 / 10;
    grid-row: 2 / 6;
  }
  .category-hero-links {
    grid-column: 11 / 16;
    grid-row: 2 / 4;
  }
  .category-hero-mini-subhed {
    grid-column: 11 / 16;
    grid-row: 5;
    display: none;
  }
  .category-hero-large-subhed {
    grid-column: 2 / 16;
    grid-row: 6;
    margin: 2rem 0;
  }
}