/* Homepage Hero Section */

.hero-main-text {
  grid-column: 2 / 7;
  grid-row: 1 / 2;
  padding-top: 2rem;
}

.featured-story-title-wrapper {
  grid-column: 7 / 14;
  grid-row: 2;
}
.featured-story-title-wrapper:hover .featured-story-title {
  text-decoration: underline;
}

.featured-story-title {
  color: #50806E;
  mix-blend-mode: difference;
  text-transform: uppercase;
}
.featured-story-byline {
  color: #000;
}

.featured-image-wrapper {
  grid-column: 10 / 17;
  grid-row: 1 / 3;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 75%;
}
.featured-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intermission-text {
  grid-column: 2 / 16;
  color: #5C3C3B;
  padding-top: 4rem;
}

/* Homepage Article Promos */

.article-promo {
  grid-column: 1 / 17;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  margin-top: 4rem;
}
.story-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.story-promo:nth-child(1) {
  grid-column: 2 / 6;
}
.story-promo:nth-child(2) {
  grid-column: 7 / 11;
}
.story-promo:nth-child(3) {
  grid-column: 12 / 16;
}
.story-promo a {
  text-decoration: none;
}

.story-promo-text {
  margin: 0;
  /* mix-blend-mode: difference; */
}
.story-promo-text h4 {
}
.story-promo-title {
  font-family: Tamil MN;
  color: #50806E;
  mix-blend-mode: difference;
  text-transform: uppercase;
  font-weight: bold;
}
.story-promo-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 60%;
  margin-left: 40%;
  padding-top: 75%;
}
.story-promo-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.2s;
}
.story-promo:hover .story-promo-text h3 {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .hero-main-text {
    grid-column: 2 / 16;
    grid-row: 4;
  }
  .featured-story-title-wrapper {
    grid-column: 2 / 16;
    grid-row: 1 / 3;
  }
  .featured-story-byline {
    display: none;
  }
  .featured-story-title {
    text-align: right;
  }
  .featured-image-wrapper {
    grid-column: 1 / 17;
    grid-row: 2 / 4;
  }
  .intermission-text {
    grid-column: 2 / 16;
    font-size: 1.4rem;
    padding-top: 0rem;
  }

  .story-promo {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.4rem;
    margin-bottom: 4rem;
  }

  .story-promo:nth-child(1),
  .story-promo:nth-child(2),
  .story-promo:nth-child(3) {
    grid-column: inherit;
  }

  .story-promo .story-promo-text {
    grid-column: 2 / 16;
    grid-row: 1 / 3;
    z-index: 1;
    mix-blend-mode: difference;
  }
  .story-promo-byline {
    display: none;
  }

  .story-promo .story-promo-text h3 {
    font-size: 44px;
    color: #50806E;
    mix-blend-mode: difference;
  }

  .story-promo:nth-child(1) .story-promo-text,
  .story-promo:nth-child(3) .story-promo-text {
    text-align: right;
  }

  .story-promo:nth-child(2) .story-promo-text {
    text-align: left;
  }

  .story-promo .story-promo-image-wrapper {
    grid-row: 1 / 4;
    width: 100%;
    padding-top: 75%;
    margin-left: 0;
  }

  .story-promo:nth-child(1) .story-promo-image-wrapper,
  .story-promo:nth-child(3) .story-promo-image-wrapper {
    grid-column: 1 / 10;
  }

  .story-promo:nth-child(2) .story-promo-image-wrapper {
    grid-column: 7 / 17;
  }

  /* .story-promo, .story-promo:nth-child(1), .story-promo:nth-child(2), .story-promo:nth-child(3) {
    grid-column: 2 / 17;
    margin-bottom: 2rem;
  }
  .story-promo-image-wrapper {
    width: 95%;
    margin-left: 5%;
  } */
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero-main-text {
    grid-column: 2 / 16;
    grid-row: 4;
  }
  .featured-story-title-wrapper {
    grid-column: 6 / 16;
    grid-row: 1 / 3;
  }
  .featured-story-byline {
    display: none;
  }
  .featured-image-wrapper {
    grid-column: 2 / 17;
    grid-row: 2 / 4;
  }
  .intermission-text {
    grid-column: 2 / 16;
  }

  .story-promo-text h1 {
  }
  .story-promo-image-wrapper {
    width: 80%;
    margin-left: 20%;
  }
}

@media (min-width: 1024px)) {}