body {
  overflow-x: hidden;
}

.chinese-contact-tracing {
  background: #222;
}
.chinese-contact-tracing nav {
  color: #FFE8D1;
}
.chinese-contact-tracing .hero-text {
  grid-column: 2 / 16;
  color: white;
  min-height: 90vh;
}

.dark img {
  max-width: 100%;
}

.mapboxgl-map {
  grid-column: 1 / 12;
  grid-row: 2;
  height: 100vh;
  position: sticky!important;
  top: 0;
}
.mapboxgl-canvas {
  height: 80vh;
}
#story {
  grid-column: 1 / 17;
  grid-row: 2 / 3;
  color: rgba(255,255,255,0.5);
  margin: 0 0 2rem;
}
#story .active {
  color: rgba(255,255,255,1);
}
#story #features {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
}
.timeline {
  grid-column: 12 / 17;
}
.story {
  grid-column: 12 / 17;
  z-index: 1;
  margin: 0 1rem;
}
.storyCards {
  z-index: 1;
  grid-column: 12 / 17;
  grid-row: 3;
  padding: 1rem;
}

@media (max-width: 768px) {
  .mapboxgl-map {
    grid-column: 1 / 17;
    height: 50vh;
    z-index: 2;
  }
  #story {
    grid-column: 1 / 17;
    grid-row: 3;
    margin-top: 2rem;
  }
  .story {
    grid-column: 1 / 17;
  }
}