.mapboxgl-map {
  grid-column: 1 / 10;
  grid-row: 1;
  height: 100vh;
  position: sticky;
  top: 0;
}
.mapboxgl-canvas {
  height: 80vh;
}
#story {
  grid-column: 1 / 17;
  grid-row: 1 / 3;
}
#story #features {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
}
.timeline {
  grid-column: 11 / 17;
}
.story {
  grid-column: 3 / 8;
  z-index: 1;
  background: white;
}
.storyCards {
  z-index: 1;
  grid-column: 2 / 9;
  grid-row: 2;
  background: white;
  padding: 1rem;
}

