@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700&family=News+Cycle:wght@400;700&display=swap');

@font-face {
  font-family: 'Tamil MN';
  src: URL('TamilMN-Bold.ttf') format('truetype');
}

body {
  font-family: Tamil MN, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #FFE8D1;
  margin: 0;
}
main {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  margin: 4rem 0 8rem;
}

footer {
  color: #777;
  padding: auto 2rem 0;
}
footer a {
  text-decoration: underline;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  font-family: Merriweather;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.2rem;
  font-family: Merriweather;
}

p {
  font-family: News Cycle;
  font-size: 1.2rem;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.5)!important;
}

.ReactModal__Content.ReactModal__Content--after-open {
  top: 5vh!important;
  right: 20vw!important;
  left: 20vw!important;
  bottom: 5vh!important;
  background: #2D3D8B!important;
  border: none!important;
}

.ReactModal__Content::-webkit-scrollbar {
  display: none;
}

.ReactModal__Content .secondary-page-title {
  text-align: center;
}


/* Page color sets */
.about, .author, .coping, .uplifting, .innovating, .making-money {
  color: #FFE8D1;
}
.about {
  background: #50806E;
}
.author {
  background: #2D3D8B;
}
.coping {
  background: #5C3C3B;
}
.uplifting {
  background: #2D3D8B;
}
.innovating {
  background: #565E73;
}
.making-money {
  background: #50806E;
}

/* Labels, etc. */

.secondary-page-title {
  grid-column: 2 / 16;
  grid-row: 1;
  font-family: Tamil MN;
  text-transform: uppercase;
  margin: 0 0 2rem;
}




.top-line {
  grid-column: 16;
  grid-row: 3 / 7;
  border-left: 2px solid black;
}







/* Navbar */

nav {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  color: #5C3C3B;
  border-bottom: solid 1px #111; 
}
.hamburger {
  display: none;
}
.about nav,
.coping nav,
.uplifting nav,
.innovating nav,
.making-money nav {
  color: #FFE8D1;
}
.logo {
  grid-column: 2 / 4;
  padding: 0.4rem;
  border-right: solid 1px black;
}
.logo img {
  height: 4rem;
}

.sections {
  grid-column: 4 / 16;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 1px;
  }
a:link {
    text-decoration: none; 
}
li {
  display: inline-block;
  padding: 8px;
}

/* Post page */

.postPageTitle {
  grid-column: 2 / 16;
  margin: 0 0 3rem;
}

.postPageTitleText {
  font-family: Merriweather;
  font-size: 4.2rem;
  color: rgba(0,0,0,0);
  -webkit-text-fill-color: #FFE8D1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin: 0 0 1rem;
}
.postPageByline {
  font-size: 1.4rem;
}

/* YouTube video */

.post-youtube-video {
  grid-column: 2 / 16;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  
}
.post-youtube-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* Post page recirc */

.postPageRecirc {
  grid-column: 2 / 16;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin: 4rem 0;
}



/* Responsive */

@media (max-width: 767px) {

  main {
    margin: 2rem 0 0;
  }
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1rem;
  }

  .ReactModal__Content.ReactModal__Content--after-open {
    top: 5vh!important;
    right: 0!important;
    left: 0!important;
    bottom: 0!important;
    background: #2D3D8B!important;
    border: none!important;
  }

  .logo {
    grid-column: 2 / 8;
    border-right: none;
  }
  .hamburger {
    display: block;
    grid-column: 10 / 16;
    text-align: right;
    margin: auto 0;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .sections {
    grid-column: 2 / 16;
    display: block;
  }
  .sections ul {
    margin: 0 0 1rem;
  }
  .sections ul.hide {
    display: none;
  }
  .sections ul.show {
    /* display: none; */
  }
  .sections li {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }

  .secondary-page-title {
    grid-row: 1;
    margin: 0;
    /* color: #50806E;
    mix-blend-mode: difference;
    text-transform: uppercase; */
  }
}

@media (max-width: 1024px){
  .logo {
    border-right: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px){}

@media (min-width: 1440px){}