@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700&family=News+Cycle:wght@400;700&display=swap');

@font-face {
  font-family: 'Tamil MN';
  src: URL('TamilMN-Bold.ttf') format('truetype');
}

body {
  font-family: Tamil MN, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #FFE8D1;
  margin: 0;
}
main {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  margin: 6rem 0;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  font-family: Merriweather;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.2rem;
  font-family: Merriweather;
}

/* Page color sets */

.about {
  color: #FFE8D1;
  background: #50806E;
}
.about .mainText {
  color: #FFE8D1;
}

/* Map */

.mapboxgl-map {
  grid-column: 1 / 10;
  grid-row: 1;
  height: 80vh;
  position: sticky;
  top: 0;
}
.mapboxgl-canvas {
  height: 80vh;
}
.timeline {
  grid-column: 11 / 16;
  grid-row: 1 / 3;
}
.storyCards {
  z-index: 1;
  grid-column: 2 / 9;
  grid-row: 2;
  background: white;
  padding: 1rem;
}

/* Labels, etc. */

.secondary-page-title {
  grid-column: 2 / 16;
  grid-row: 1;
  font-family: Tamil MN;
  text-transform: uppercase;
  margin: 0 0 2rem;
}




.top-line {
  grid-column: 16;
  grid-row: 3 / 7;
  border-left: 2px solid black;
}







/* Navbar */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  border-bottom: solid 1px black; 
}
.vertical-line {
  border-right: solid 1px black;
  padding-right: 50px;
  height: 100%;
}
.logo {
  color: #535374;
  font-size: 20px;
}

.headings {
  display: flex;
  justify-content: space-around;
  letter-spacing: 1px;
  color: #543333;
  }
a:link {
    text-decoration: none; 
}
li {
  display: inline-block;
  padding: 8px;
}

/* About Page */

.p-1 {
  font-size: 2rem;
  grid-column: 2 / 12;
  margin-bottom: 4rem;
}
.Meet_team {
  color: #EEEBD0;
  font-size: 2rem;
  text-align: center;
  grid-column: 12 / 16;
  max-height: 60px;
  margin: 1rem 0;
  padding: 1rem;
  background: #5c3c3b;
}

.summary {
  grid-column: 4 / 14;
}



/* Post page */

.postPageTitle {
  grid-column: 2 / 16;
  margin: 0 0 3rem;
}

.postPageTitleText {
  font-family: Merriweather;
  font-size: 4.2rem;
  color: rgba(0,0,0,0);
  -webkit-text-fill-color: #FFE8D1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin: 0 0 1rem;
}
.postPageByline {
  font-size: 1.4rem;
}

/* YouTube video */

.post-youtube-video {
  grid-column: 2 / 16;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  
}
.post-youtube-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Post page text hero */

.postVideoHeroMainText {
  
}
.postVideoFeaturedImage {
  
}
.postVideoIntermissionText {
  
}

/* Post page recirc */

.postPageRecirc {
  grid-column: 2 / 16;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin: 4rem 0;
}


/* Video post body */

.videoPostBody {
  grid-column: 1 / 17;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem; 
  font-family: News Cycle;
  font-size: 1.2rem;
}
.videoPostBody p {
  grid-column: 2 / 8;
}

.videoPostBody blockquote {
  grid-column: 10 / 14;
  grid-row: span 2;
}

.videoPostBody p:nth-child(6),
.videoPostBody p:nth-child(7),
.videoPostBody p:nth-child(8),
.videoPostBody p:nth-child(9),
.videoPostBody p:nth-child(10) {
/*   text-align: right; */
}

/* Text post body */

.textPostBlurb {
  grid-column: 9 / 15;
  grid-row: 2 / 4;
  font-weight: 700;
  font-size: 1.6rem;
}

.textPostHeroImage {
  grid-column: 1 / 8;
  grid-row: 3 / 5;
  width: 100%;
}

.textPostBody {
  grid-column: 9 / 15;
  grid-row: 4 / 8;
  font-family: News Cycle;
  font-size: 1.2rem;
}

.textPostBody blockquote {
  position: absolute;
  left: 4rem;
  width: 200px;
}

.textPostFullBleedImage {
  grid-column: 1 / 17;
  width: 100%;
}


/* Pull quotes */

blockquote p {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 1.4rem;
}

.post-quote-mini {
  grid-column: 13 / 15;
  font-weight: bold;
}

.post-quote-large {
  grid-column: 13 / 15;
}
.post-quote-large h3 {
  font-family: Merriweather;
  color: rgba(0,0,0,0);
  -webkit-text-fill-color: #FFE8D1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.post-quote-large h2 {
  font-family: "Tamil MN";
}


/* Responsive */

@media (max-width: 767px) {

  main {
    margin: 2rem 0 0;
  }
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1rem;
  }

  .youtube-video {
/*     grid-column: 4 /6; */
  }
}

@media (min-width: 600px) and (max-width: 1023px) {}

@media (min-width: 1024px){}

@media (min-width: 1024px) and (max-width: 1439px){}

@media (min-width: 1440px){}